.full-width-container {
  width: 90%;
  max-width: 100%;
  clear: both;
  margin: 0 auto;
}
.full-width-container .goods-search {
  display: block;
  width: 30%;
  min-width: 230px;
  line-height: 2;
  margin: 0 auto 3%;
}
.full-width-container .goods-msg {
  text-align: center;
  clear: both;
  padding-top: 5%;
  line-height: 2;
  margin-bottom: 70px;
}
.full-width-container ul.goods {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;
  clear: both;
  margin-bottom: 70px;
}
.full-width-container ul.goods li {
  width: 230px;
  overflow: hidden;
  text-align: center;
}
.full-width-container ul.goods li div {
  width: inherit;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
}
.full-width-container ul.goods li strong {
  font-size: 1.5em;
}
.full-width-container ul.goods li img {
  max-width: 100px;
  margin-right: 10px;
}
.full-width-container ul.goods li a {
  display: block;
}
.full-width-container ul.goods-paging {
  list-style: none;
  text-align: center;
}
.full-width-container ul.goods-paging li {
  display: inline;
  padding: 0 5px;
}
.full-width-container ul.goods-paging li:hover {
  cursor: pointer;
}
.full-width-container ul.goods-paging li.current {
  font-weight: bold;
}
ul.filtering-nav {
    text-align: center;
    background-color: #F8F8F8;
    border-radius: 10px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid white;
    border-left: 1px solid lightgrey;
    border-right: 1px solid white;
    color: #555;
    width: 400px;
    margin: 20px auto;
    min-height: 26px;
}
ul.filtering-nav li{
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  width: 82px;
  padding: 2px 0;
}
ul.filtering-nav li.active{
  background-color: white;
  border-radius: 10px;
  padding: 0;
  border-top: 1px solid white;
  border-bottom: 1px solid lightgrey;
  color: black;
  border-left: 1px solid white;
  border-right: 1px solid lightgrey;
  display: inline-block;
  width: 80px;
}
div.filtering-items span{
    border-radius: 10px;
    padding: 2px 15px;
    border: 1px solid #888;
    color: #333;
}
div.filtering-items span.filtering-close{
    border: none;
    margin-right: -5px;
    padding: 0 0 0 10px;
}
div.filtering-expand{
  display: none;
  text-align: center;
  padding: 20px;
}
div.filtering-expand select{
  width: 300px;
}