.full-width-container {
  width: 90%;
  max-width: 100%;
  clear: both;
  margin: 0 auto;
}
.goods-search {
  display: block;
  width: 30%;
  min-width: 230px;
  line-height: 2;
  margin: 0 auto 3%;
  border-radius: 100px !important;
}
.goods-msg {
  text-align: center;
  clear: both;
  padding-top: 5%;
  line-height: 2;
  margin-bottom: 70px;
}
ul.goods {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;
  clear: both;
  margin-bottom: 70px;
}
ul.goods li {
  width: 230px;
  overflow: hidden;
  text-align: center;
}
ul.goods li div {
  width: inherit;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
}
ul.goods li strong {
  font-size: 1.5em;
}
ul.goods li img {
  max-width: 100px;
  margin-right: 10px;
}
ul.goods li a {
  display: block;
}
ul.goods-paging {
  list-style: none;
  text-align: center;
}
ul.goods-paging li {
  display: inline;
  padding: 0 5px;
}
ul.goods-paging li:hover {
  cursor: pointer;
}
.current {
  font-weight: bold;
}
