@import '../bower_components/font-awesome/less/font-awesome.less';

@fa-font-path: '../bower_components/font-awesome/fonts';

@import '//fonts.googleapis.com/css?family=Raleway:400,300,600';
@import '//fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic';

@import '../bower_components/skeleton/css/normalize.css';
@import '../bower_components/skeleton/css/skeleton.css';

* {
  font-family: "Raleway", "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

/**
 * App-wide Styles
 */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.button-rounded, .input-rounded {
  border-radius: 100px !important;
}

.white-font {
  color: #FFF;
}

.black-font{
  color: #000;
}

/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}*/

// injector
@import 'goods/goods.less';
@import 'main/main.less';
@import 'footer/footer.less';
@import 'navbar/navbar.less';
// endinjector


