<nav class="container navbar" ng-controller="NavbarCtrl">
  <div class="row">
    <div class="three columns">
      <a class="logo" href="/" title="Cheap Today">
        <img ng-src="../../assets/logo-black.png" alt="Cheap Today">
      </a>
    </div>
    <div class="nine columns">
      <ul ng-if="menu.length > 0">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
          <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
