.navbar {
  padding: 30px 0 23px;
  /*.navbar-list {
    float: right;
    list-style: none;
    margin-bottom: 0;

    .navbar-link {
      display: inline;
      margin-left: 35px;

      a {
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        color: #222;
      }
    }

    .navbar-link a:hover, .navbar-link.active a {
      color: #33C3F0;
    }
  }*/
}
.navbar .navbar-brand img {
  display: block;
}
