<nav class="container navbar" ng-controller="NavbarCtrl">
  <div class="row">
    <div class="three columns">
      <a href="/" title="Cheap Today" class="navbar-brand">
        <img src="../../assets/logo.png" alt="Cheap Today" height="35">
      </a>
    </div>
    <!--<div class="nine columns">
      <ul class="navbar-list" ng-if="menu.length > 0">
        <li ng-repeat="item in menu" class="navbar-link" ng-class="{active: isActive(item.link)}">
          <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
      </ul>
    </div>-->
  </div>
</nav>
